<!DOCTYPE html>
<html lang="pt-br">
   <head><title>Ainda não sei usar o Jinja2 :)</title></head>
   <body>
      <h1>Olá, {{nome}}!</h1>
      <h3>Bem vinda a página HMTL da nossa API</h3>
      <p>O que vamos aprender hoje?</p>
      <ul>
        <li> Definição e importância das APIs; </li>
        <li> Como fazer a nossa primeira API</li>
        <li> Como colocar a foto de um doguinho: </li>
        <img src="{{image}}" alt=" ~ Aqui deve aparecer a imagem de um doguinho ~" width="500" height="600">
      </ul>
   </body>
</html>
